#card-container {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid green;
  gap: 2em;
}

.flex {
  display: flex;
}

.card button {
  background-color: blue;
}

.delete {
  background-color: red;
}

.card {
  border: 1px solid black;
  text-align: center;
  width: 20em;
}

.testCard {
  border: 2px solid red;
}

.card img {
  position: relative;
  top: 1em;
}

form {
  background-color: green;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2px;
  align-self: center;
}

#removeDiv {
  background-color: lightblue;
  margin: 20px;
  width: 100%;
}
